config xpon 'line0'
	option device 'pon0'
	option mode ''
	# Accepts 16 raw hex digits or VEND followed by 8 hex digits.
	option serial_number ''
	# Accepts text:VALUE or hex: followed by 72 hex digits.
	option registration_id ''

config omci 'line0_omci'
	option line 'line0'
	option device 'omci0'
	option omcc_version '0xb0'
	option disable_enhanced_security '0'

	option vendor_id ''
	option equipment_id ''
	option hardware_version ''
	option software_version ''
	option operator_id ''
	option loid ''
	option loid_password ''

config oam 'line0_oam'
	option line 'line0'
	option device 'oam0'
	# ieee selects 802.3ah; ctc enables CTC extensions.
	option operator 'ctc'
	option ctc_oui '111111'
	option ctc_versions '21 30'

	option vendor_id ''
	option model ''
	option equipment_id ''
	option hardware_version ''
	option software_version ''
	option firmware_version ''
	# 8-byte wire-order value encoded as 16 hex digits.
	option chipset_id ''
	option loid ''
	option loid_password ''
	option ge_ports '1'
